cloud/statemachine/familyRegistration.asl.json
{
    "Comment": "A state machine for family member registration",
    "StartAt": "FamilyMemberRegistrationFunctionArn",
    "States": {
        "FamilyMemberRegistrationFunctionArn": {
            "Type": "Task",
            "Resource": "${FamilyMemberRegistrationFunctionArn}",
            "Next": "CheckIfUserValid"
        },
        "CheckIfUserValid": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "BooleanEquals": true,
                    "Next": "NotifyInviterFunction"
                }
            ],
            "Default": "UnsuccessfulRegistration"
        },
        "NotifyInviterFunction": {
            "Type": "Task",
            "Resource": "${NotifyInviterFunctionArn}",
            "Next": "CheckForConfirmation"
        },
        "UnsuccessfulRegistration": {
            "Type": "Pass",
            "End": true
        },
        "CheckForConfirmation": {
            "Type": "Task",
            "Resource": "${CheckForConfirmationFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 30,
                    "MaxAttempts": 5,
                    "BackoffRate": 2
                }
            ],
            "Next": "CheckIfUserAccepted"
        },
        "CheckIfUserAccepted": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "BooleanEquals": true,
                    "Next": "GiveAccessFunction"
                }
            ],
            "Default": "RegisterWithoutAccess"
        },
        "RegisterWithoutAccess": {
            "Type": "Pass",
            "End": true
        },
        "GiveAccessFunction": {
            "Type": "Task",
            "Resource": "${GiveAccessFunctionArn}",
            "End": true
        }
    }
}